{% extends 'baseDashboard.html.twig' %}

{% block title %}Status index{% endblock %}

{% block body %}
    <h1>Status index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
            <tr>
                <td>{{ status.id }}</td>
                <td>{{ status.name }}</td>
                <td>
                    <a href="{{ path('status_edit', {'id': status.id}) }}">
                        <i 
                        class="modify far fa-edit"
                        style="color: green; cursor: pointer;"
                        ></i>
                    </a>
                    <a href="{{ path('status_delete', {'id': status.id}) }}">
                        <i
                        class="delete far fa-trash-alt"
                        style="color: red; cursor: pointer;"
                        ></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('status_new') }}">Create new</a>
{% endblock %}
