{% extends 'baseDashboard.html.twig' %}

{% block title %}Event index{% endblock %}
{% block pageName %}Event index{% endblock %}

{% block body %}

    <a class="btn btn-primary mb-3" href="{{ path('event_new') }}">ADD</a>

    <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Location</th>
                <th>Prix</th>
                <th>Date</th>
                <th>Booking</th>
                <th>Seats</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>
                    <img 
                        src="/uploads/events/{{ event.image }}"
                        class="img-fluid img-thumbnail"
                        style="width: 10vw; height: 15vw; overflow: hidden; object-fit: cover;"
                    >
                </td>
                <td>{{ event.title }}</td>
                <td>{{ event.location }}</td>
                <td>{{ event.prix }} €</td>
                <td>{{ event.date ? event.date|date('d-m-Y à H:i') : '' }}</td>
                <td>
                    <a href="{{ event.ticketUrl }}">LINK</a>
                </td>
                <td>
                    {{ event.seats }}
                </td>
                <td>
                    <a href="{{ path('event_edit', {'id': event.id}) }}">
                        <i 
                        class="modify far fa-edit"
                        style="color: green; cursor: pointer;"
                        ></i>
                    </a>
                    <a href="{{ path('event_delete', {'id': event.id}) }}">
                        <i
                        class="delete far fa-trash-alt"
                        style="color: red; cursor: pointer;"
                        ></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
