{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}
{% block pageName %}Event{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-4 text-center">
            <img 
                src="/uploads/events/{{ event.image }}"
                class="img-fluid"
                style="width: 20vw; height: 30vw; overflow: hidden; object-fit: cover;"
            >
        </div>
        <div class="col-md-8 text-left">
            <b style="color: #fe8155; font-size: 1.5em;">{{ event.title }}</b>
        </div>
    </div>

    <div class="col-md-3 col-xs-6 col-sm-4" style="text-align: left; font-family: 'Roboto', sans-serif;">
        <a href="{{ event.ticketUrl }}" target="_blank">
            <p>
                <b style="color: #fe8155;">{{ event.title }}</b>
                <br>
                {{ event.date ? event.date|date('d F Y') : 'UNKNOW' }}
            </p>
        </a>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ event.prix }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ event.image }}</td>
            </tr>
            <tr>
                <th>Ticket_url</th>
                <td>{{ event.ticketUrl }}</td>
            </tr>
            <tr>
                <th>Seats</th>
                <td>{{ event.seats }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('event_index') }}">back to list</a>

    <a href="{{ path('event_edit', {'id': event.id}) }}">edit</a>

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
