{% extends 'baseEvent.html.twig' %}

{% block title %}Event{% endblock %}
{% block pageName %}Event{% endblock %}

{% block body %}

    <div class="banner-background">

        <div class="container" style="bottom: -40px; left: 12vw; position: absolute; top: 4vh;">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-6" style="width: 37vw; height: 53vh">
                    <img class="img-responsive banner-img" src="/uploads/events/{{ event.image }}" alt="Nom du spectacle">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 text-left text-banner" style="position: relative; color: #fff;">
                    <h1 class="text-uppercase" style"height: auto;">{{ event.title }}</h1>

                    <p class="text-uppercase p-banner">{{ event.date ? event.date|date('l d F Y') : '00H00' }}</p>
                    <p class="text-uppercase p-banner">{{ event.date ? event.date|date('H:i') : '00H00' }}</p>
                    <p class="text-capitalize p-banner">
                        {% for artist in event.artists %}
                            {{ artist }}
                        {% endfor %}
                    </p>

                    <br>

                    <a href="{{ event.ticketUrl }}" target="_blank" class="btn btn-primary btn-lg">Réserver mon billet</a>
                </div>
            </div>
        </div>
        
    </div>

    {# <div class="row" style="margin-top: 50px;">
        <div class="col-md-4 text-center">
            <img 
                src="/uploads/events/{{ event.image }}"
                class="img-fluid"
                style="width: 20vw; height: 30vw; overflow: hidden; object-fit: cover;"
            >
        </div>
        <div class="col-md-8 text-left">
            <b style="color: #fe8155; font-size: 1.5em;">{{ event.title }}</b>
        </div>
    </div> #}
    

    <div class="container">
        <div class="row" style="padding-top: 7%;">
            <div class="col-xs-12 col-sm-12 col-md-12">

                {% if is_granted('ROLE_USER') %}
                    <div style="padding-bottom: 3%;">
                        <a class="btn btn-primary" href="{{ path('event_index') }}">back to list</a>

                        <a class="btn btn-primary" href="{{ path('event_edit', {'id': event.id}) }}">edit</a>

                        <a class="btn btn-primary" href="{{ path('event_delete', {'id': event.id}) }}">delete</a>
                    </div>
                {% endif %}

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ event.id }}</td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td>{{ event.title }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ event.description }}</td>
                        </tr>
                        <tr>
                            <th>Prix</th>
                            <td>{{ event.prix }}</td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td>{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Image</th>
                            <td>{{ event.image }}</td>
                        </tr>
                        <tr>
                            <th>Ticket_url</th>
                            <td>{{ event.ticketUrl }}</td>
                        </tr>
                        <tr>
                            <th>Seats</th>
                            <td>{{ event.seats }}</td>
                        </tr>
                        <tr>
                            <th>Artists</th>
                            <td>
                                {% for artist in event.artists %}
                                    {{ artist }}
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}
