{% extends 'baseEvent.html.twig' %}

{% block title %}Event{% endblock %}
{% block pageName %}Event{% endblock %}

{% block opengraph %}
<meta property="og:url"                content="{{ app.request.getSchemeAndHttpHost() ~ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{{ event.title }}" />
<meta property="og:description"        content="{{ event.description }}" />
<meta property="og:image"              content="{{ app.request.getSchemeAndHttpHost() }}/uploads/events/{{ event.image }}" />
{% endblock %}

{% block body %}

    {# Banner #}
    <div class="banner-background">

        <div class="container" style="width: 100%; bottom: -40px; left: 12vw; position: absolute; top: 4vh;">
            <div class="row">

                <div class="col-xs-6 col-sm-6 col-md-6" style="width: 37vw; height: 53vh">
                    <img class="img-responsive banner-img" src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="Nom du spectacle">
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 text-left text-banner" style="position: relative; color: #fff;">
                    <h1 class="text-uppercase" style"height: auto;">{{ event.title }}</h1>

                    <p class="text-uppercase p-banner">{{ event.date ? event.date|date('l d F Y') : '00H00' }}</p>
                    <p class="text-uppercase p-banner">{{ event.date ? event.date|date('H:i') : '00H00' }}</p>
                    <p class="text-capitalize p-banner">
                        {% for artist in event.artists %}                            
                            <span class="badge badge-primary">{{ artist }}</span>
                        {% endfor %}
                    </p>

                    <br>

                    <a href="{{ event.ticketUrl }}" target="_blank" class="btn btn-primary btn-lg">{% trans %}Réserver mon billet{% endtrans %}</a>
                </div>
            </div>
        </div>
        
    </div>   

    <div class="container">
        <div class="row" style="padding-top: 7%;">

            {# Main contain #}
            <div class="col-xs-12 col-sm-12 col-md-9" style="padding-right: 1% !important;">

                    <h4>{% trans %}Dates:{% endtrans %}</h4>

                    <p>{{ event.date ? event.date|date('l d F Y') : '00H00' }} at {{ event.date ? event.date|date('H:i') : '00H00' }}</p>

                    <h4>{% trans %}Description:{% endtrans %}</h4>

                    <p>{{ event.description|raw }}</p>

                    <h4>{% trans %}Artists:{% endtrans %}</h4>
                
                    {% for artist in event.artists %}                            
                        <span class="badge badge-primary" style="font-size: 0.75em;">{{ artist }}</span>
                    {% endfor %}

                    <p>
                        <b>General Admission:</b>
                        <span>{{ event.prix > 0 ? event.prix ~ " €" : "FREE" }}</span>
                    </p>

                    {% if event.seats %}
                    <p>
                        <b>Seats:</b>
                        <span>{{ event.seats }}</span>
                    </p>
                    {% endif %}

                    <h4 style="padding-bottom: 1%;">Share With Friends</h4>

                    <button type="button" class="btn btn-lg btn-fb"><i class="fab fa-facebook-f pr-1"></i> Facebook</button>
                    <button type="button" class="btn btn-lg btn-twitter"><i class="fab fa-twitter pr-1"></i> Twitter</button>

            </div>
            
            {# Side menu #}
            <div class="col-xs-12 col-sm-12 col-md-3" style="padding-left: 1% !important;">

                <div class="border-event">

                    <h4>Location:</h4>

                    <p class="location-info">{{ event.location.name }}</p>
                    <p class="location-info">{{ event.location.address }}</p>
                    <p class="location-info">{{ event.location.city }}, {{ event.location.postalcode }}, {{ event.location.country }}</p>
                    <a href="{{ event.location.gmapurl }}" target="_blank">View Map</a>
                
                </div>

            </div>
        </div>
    </div>

{% endblock %}
