{% extends 'baseDashboard.html.twig' %}

{% block title %}GalleryEntity index{% endblock %}
{% block pageName %}GalleryEntity index{% endblock %}

{% block body %}

    <a class="btn btn-primary mb-2" href="{{ path('gallery_entity_new') }}">Create new</a>

    <h1>GalleryEntity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gallery_entity in gallery_entities %}
            <tr>
                <td>
                    <img 
                        src="/uploads/gallery/{{ gallery_entity.image }}"
                        class="img-fluid img-thumbnail"
                        style="width: 15vw; height: 10vw; overflow: hidden; object-fit: cover;"
                    >
                </td>
                <td>{{ gallery_entity.name }}</td>
                <td>{{ gallery_entity.category ? gallery_entity.category : "--;--" }}</td>
                <td>
                    <a href="{{ path('gallery_entity_edit', {'id': gallery_entity.id}) }}">
                        <i 
                        class="modify far fa-edit"
                        style="color: green; cursor: pointer;"
                        ></i>
                    </a>
                    <a href="{{ path('gallery_entity_delete', {'id': gallery_entity.id}) }}">
                        <i
                        class="delete far fa-trash-alt"
                        style="color: red; cursor: pointer;"
                        ></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
