{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
<article>
    <div class="container">
        <div class="row">

            <div class"col-md-12">
                <div class="container-image">
                    <div class="post-image penci-move-title-above ">
                        <a href="{{ vich_uploader_asset(article, 'thumbnailFile') }}" data-rel="penci-gallery-bground-content">
                            <span class="attachment-penci-full-thumb size-penci-full-thumb penci-single-featured-img wp-post-image penci-lazy" style="padding-top: 60.4274%; display: block; background-repeat:no-repeat; background-size:cover; background-position:center; background-image: url(&quot;{{ vich_uploader_asset(article, 'thumbnailFile') }}&quot;);"></span>
                        </a>
                        <div class="standard-post-special_wrapper two-sidebar">
                            <div class="header-standard header-classic single-header">
                                
                                <h1 class="post-title single-post-title entry-title">{{ article.title|capitalize }}</h1>

                                <div class="post-box-meta-single">
                                    <span class="author-post byline"><span class="author vcard">by <i>{{ article.author.username }}</i></span></span>
                                    <span><time class="entry-date published" datetime="{{ article.updatedAt|date() }}">{{ article.updatedAt|date("d M Y \\à h\\Hm") }}</time></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <p>
                    {{ article.content|raw }}
                </p>
            </div>
        </div>
    </div>
</article>

{% endblock %}