<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <!-- <a class="navbar-brand" href="index.php">AVIGNON COMEDY CLUB</a> -->
            <a href="index.php"><img src="{{ asset('assets/img/logo.png') }}" style="width: 30%;"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ path('index') }}">{% trans %}Accueil{% endtrans %}</a>
                </li>
                <li>
                    <a href="{{ path('a_laffiche') }}">{% trans %}A l'affiche{% endtrans %}</a>
                </li>
                <li>
                    <a href="{{ path('blog') }}">{% trans %}L'actualité{% endtrans %}</a>
                </li>
                <li>
                    <a href="{{ path('artists') }}">{% trans %}Artistes{% endtrans %}</a>
                </li>
                <li>
                    <a href="{{ path('gallery') }}">{% trans %}Gallerie{% endtrans %}</a>
                </li>
                <li>
                    <a href="{{ path('a_propos') }}">{% trans %}A PROPOS{% endtrans %}</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>